@{
    ViewData["Title"] = "Ασκήσεις Τσίκη";
}

<div class="container">
    <h1>@ViewData["Title"]</h1>

    <h3>Άσκηση 1</h3>
    <p>
        Φτιάξε ενα project σε .NET Core που να του δίνεις αριθμούς και να σου βρίσκει τον μέγιστο κοινοό διαιρέτη.
    </p>
    <p>
        Μετά φτιάξε μια απλή σελίδα html που να της δίνεις κλάσματα και να σου τα απλοποιεί.
    </p>

</div>